@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;1,300&family=Poppins:ital,wght@0,100;0,400;0,700;1,100&family=Roboto+Condensed:ital,wght@0,300;0,700;1,400&display=swap');

body {
    background-image: url(../img/orla-por-do-sol-superior.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
}
h1 {
    font-size: 45px;
    font-family: 'Poppins', sans-serif;
    color: white;
    text-align: center;
}
h2 {
    color: white;
    margin-bottom: 3px;
    font-size: 35px;
    font-family: 'Roboto Condensed', sans-serif;
}
li {
    color: white;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
}
p {
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    text-align: center;
}
a {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    text-align: center;
}
.header-site {
    background: linear-gradient(to right, rgb(244, 184, 93), rgb(244, 110, 64), rgba(243, 35, 35));
    padding: 10px;
    font-size: 20px;
}
.video {
    text-align: center;
}
#rodape {
    font-size: 30px;
    color: white;
    text-align: center;
    padding: 20px;
}
.icones {
    margin: 0px 15px;
    width: 70px;
    height: 70px;
}
.curiosidades {
    margin-left: 10px;
}
.atividades {
    margin-left: 10px;
}
.bonus {
    margin-left: 10px;
}